.footer-helper-outer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: white;

  .footer-flex-container {
    padding: 0px;
    text-align: center;
    ul {
      list-style: none;
      li {
        padding: 10px;
        font-size: 1.2em;
      }
    }
  }
}