@import "./nav.scss";
@import "./home.scss";
@import "./about.scss";
@import "./footer.scss";
@import "./projects.scss";

$background: "https://images.pexels.com/photos/1102797/pexels-photo-1102797.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940";

body {
  background: #fcf3ec;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
}

// .App {
//   .app-nav-container {
//     position: sticky;
//     scroll-behavior: auto;
//   }
// }

.App-container {
  background-image: url($background);
    /* Set a specific height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 700px) {
  .App-container {
      background-image: url($background);
      /* Set a specific height */
      min-height: 700px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
  }
}