.nav-container {
background: rgb(6, 18, 101);
background: linear-gradient(90deg, rgb(28, 35, 75) 99%, rgba(8, 7, 106, 1) 100%, rgba(9, 9, 121, 1) 100%);
  padding: 0;
  margin: 0;
  height: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;

  .nav-inner-container {
    position: sticky;
    position: -webkit-sticky;

    p {
      padding: 5px;
      line-height: 0;
    }
  }
}